.Square {
    box-shadow: 0px 0px 30px 0px #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 100px;
    margin: 3px 5px;
    position: relative;
    width: 100px;
    transition: background 0.25s, box-shadow 0.25s;

    &:hover {
        background: #efefef;
        box-shadow: 0px 0px 30px 0px #bbb;
        transition: background 0.25s, box-shadow 0.25s;
    }

    .token {
        color: #999;
        font-size: 48px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}
